PORT=3000
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=weathermeal
DB_LOGGING=false
GEMINI_API_KEY=your-gemini-api-key
GEMINI_MODEL=gemini-2.5-flash
GEMINI_BASE_URL=https://generativelanguage.googleapis.com/v1beta
WEATHER_API_FORECAST_BASE_URL=https://api.open-meteo.com/v1/forecast
WEATHER_API_ARCHIVE_BASE_URL=https://archive-api.open-meteo.com/v1/archive
